repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream

lang en_US.UTF-8
keyboard us
timezone UTC

network --bootproto=dhcp --noipv6 --onboot=on --device=eth0 --activate

rootpw --plaintext vagrant
firstboot --disabled

skipx
services --enable="chronyd" --disabled=kdump --enabled=sshd

user --name=vagrant --plaintext --password vagrant

zerombr
ignoredisk --only-use=sda
clearpart --all --initlabel --disklabel=gpt
part biosboot --fstype=biosboot --size=1 --ondisk=sda
part /boot    --fstype=xfs      --size=1024 --ondisk=sda --asprimary
part pv.01    --fstype=lvmpv    --size=1    --grow      --ondisk=sda
volgroup vg1 pv.01
logvol swap --fstype="swap" --name="swaplv" --vgname=vg1 --size=4096
logvol / --fstype="xfs" --vgname=vg1 --size=8192 --name=root --grow


eula --agreed
firewall --disabled
selinux --permissive
#bootloader --location=mbr --append="net.ifnames=0 biosdevname=0"
bootloader --timeout=0 --location=mbr --append="console=tty0 console=ttyS0,115200n8 no_timer_check"
reboot --eject

%packages --ignoremissing --excludedocs --instLangs=en_US.utf8
# vagrant needs this to copy initial files via scp
openssh-clients
sudo
kernel-headers
kernel-devel
kernel-uek-devel
gcc
make
perl
selinux-policy-devel
wget
nfs-utils
net-tools
bzip2
deltarpm
rsync
dnf-utils
redhat-lsb-core
elfutils-libelf-devel
network-scripts
libX11
libXt
libXext
libXmu
#-fprintd-pam
#-intltool

%end

%addon com_redhat_kdump --disable
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end